<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основная информация</title>
    <link rel="stylesheet" href="/static/style mobile.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <h1>Основная информация</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="/templates/index.html">Главная страница</a></li>
                <li><a href="/templates/awards.html">Награды</a></li>
                <li><a href="/templates/documentation.html">Документация</a></li>
                <li><a href="/templates/upgrade_system.html">Система повышения</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <p>Здесь будет основная информация.</p>
    </section>

    <footer>
        <p class="footer-text">©Ренди где мой РПС?</p>
    </footer>
</body>
</html>
